{% extends "layouts/base.html" %}
{% load humanize %}

{% block title %}{{task.name}} detail | TaskManagement{% endblock %}

{% block content %}
    <div style="margin-left: 5%;" class="row">
        <div class="col-md-offset-2 col-md-8">
            {% if sample %}
                <h3><b>Patient Name: </b>{{sample.patient}}</h3><hr>
                <div class="row">
                    <div class="col-md-6">
                    <!-- <h4><small><b>Gender: </b> {{sample.gender|capfirst}}</h4><br> -->
                    <h4><small><b>Date archived: </b> {{sample.date_of_archive}}</h4>
                        <h4><small><b>Type: </b> {{sample.type}}</h4>
                            <h4><small><b>Study: </b> {{sample.study}}</h4>

                    </div>

                </div>
        <div style="margin-top: 15%;" class="row">
                                     <div class="col-md-2">
                                        <a href="{% url 'edit_sample' sample.id %}" class="btn btn-primary pull-right">Update sample </a>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="{% url 'remove_sample' sample.id %}" class="btn btn-danger pull-right">Delete  sample</a>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="{% url 'aliquote_sample' sample.id %}" class="btn btn-danger pull-right">Aliquote sample</a>
                                    </div>
    
    
                                    <div class="col-md-2">
                                        <a href="{% url 'aliquote_sample' sample.id %}" class="btn btn-danger pull-right"> Sample Aliquotes </a>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="{% url 'aliquote_sample' sample.id %}" class="btn btn-danger pull-right">Store Sample </a>
                                    </div>

            </div>

                <!-- <h3><b>Description:</b></h3>
                <p>{{task.description | safe}}</p>
                <h3><b>Status:</b></h3>
                <p>{{task.status | safe}}</p>
                <h3><b>Due:</b></h3>
                <p>{{task.duedate | safe}}</p> -->

            {% else %}
                <h3>Not available</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}
