{% extends 'layouts/base.html' %}
{% load humanize %}

{% block title %}Study detail | Bank{% endblock %}

{% block content %}
    <div style="margin-left: 6%;" class="row">
        <div class="col-md-offset-2 col-md-8">
            {% if study %}
            <h3><b>Study Name: </b>{{study.name}}</h3><hr>
            <div class="row">
                <div class="col-md-6">
                <h4><small><b>Narrative: </b> {{study.narrative_name|capfirst}}</h4><br>
                <h4><small><b>Status: </b> {{study.status}}</h4>
                    <!-- <h4><small><b>Phone: </b> {{patient.phone}}</h4>
                        <h4><small><b>Study: </b> {{patient.study}}</h4> -->

                </div>

            </div>
    <div style="margin-top: 15%;" class="row">
                    <div class="col-md-3">
                                    <a href="{% url 'edit_study' study.id %}" class="btn btn-primary pull-right">Update This Study </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="{% url 'remove_study' study.id %}" class="btn btn-danger pull-right">Delete This Study</a>
                                </div>
        </div>

            <!-- <h3><b>Description:</b></h3>
            <p>{{task.description | safe}}</p>
            <h3><b>Status:</b></h3>
            <p>{{task.status | safe}}</p>
            <h3><b>Due:</b></h3>
            <p>{{task.duedate | safe}}</p> -->


            {% else %}
                <h3>Not available</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}
